*.asv
*.m~
codegen/*

wombat/*.score
wombat/*.hm

**/*.pzl

iterations*/*
generations*/*
annTopologyEvolved*/*

annTopology/_aux/*.mat

_old/**/*.mat
_old/**/*.png
_old/**/*.txt

grids/chunks/*
grids/individual/*
data/**/*

